<div class="container">
		<div class="col-lg-3">
            <div class="input-group custom-search-form">
              <input type="text" class="form-control">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button">
              <span class="icon-search"></span>
             </button>
             </span>
             </div><!-- /input-group -->
        </div>
</div>

<div class="container">
     <div class ='span3 media well' ng-repeat="category in categories">
        <a class="pull-left" href="#">
            <img class="media-object img-rounded img-responsive"  src="http://placehold.it/100x80" alt="placehold.it/100x80">
        </a>
        <a href="#/categories/{{category.id}}">{{category.name}}</a>
     </div>
</div>
