<div class="container well" style="width:220px;" controller="UserController">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign up</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                                <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="E-mail" name="email" type="text" ng-model="username">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="password">
			    		</div>
			    		<input class="btn btn-success btn-block btn-large" type="submit" value="Login" ng-click='signup()'>
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
</div>


