<div class="container" ng-controller="UserController">
    <h2>Register</h2>
    <form>
        <div class="form-group">
            <label class="col-xs-3" for="email">Username:</label>
            <div class="col-xs-9">
                <input type="email" class="form-control" id="email" ng-model="email" placeholder="Enter username:"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3" for="password">Password:</label>
            <div class="col-xs-9">
                <input type="password" class="form-control" id="password" ng-model="password" placeholder="Enter password"/>
            </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="singup()">Sign up</button>
    </form>
</div>