<div class="insertlink-width">
    <div class="modal-header">
        <h3>Insert Link</h3>
    </div>
    <div class="modal-body">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-link"></i></span>
			<input type="url" data-ng-model="model.uri" class="lower-font" />
        </div>
    </div>
    <div class="modal-btn">
        <button class="btn" data-ng-click="cancel()">Cancel</button>
        <button data-ng-show="model.uri" class="btn btn-primary" data-ng-click="ok()">OK</button>
    </div>
</div>